<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">Editing Shift</h1>
</div>

<%= render 'form' %>
<br>
<div class="actions">
<%= link_to 'Show Shift', @shift, :class=>"btn btn-default" %>
<%= link_to 'Previous Page', shifts_path, :class=>"btn btn-default" %>
</div>
