<h1>Welcome - <%= current_user.email %></h1>

<p>You've reached the homepage for Bullseye Scheduler!</p>


<div class="row">
	<div class="col-sm-6 well">
		<h3>Your Shifts</h3>
	</div>
	<div class="col-sm-6 well">
		<h3>Home Store</h3> 
	</div>
</div>
